* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  background-image:url(https://images.unsplash.com/photo-1722608274454-699ed706d7f5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 border: 1px solid transparent;
  /* background: #c6ffdd; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.497);
  border: 1px solid transparent;
}

h1{
  color: white;
  font-weight: 800;
  text-align: center;
  /* margin-top: 100px; */
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
