<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <title>Document</title>
</head >
<body class=" min-h-screen min-w-screen flex justify-center items-center  bg-gray-200">
    <a class="absolute top-3 left-3" href="/user/profile"><i class="ri-arrow-left-fill"></i> Back</a>
  <form class="flex opacity-100 bg-violet-400 rounded-2xl p-6 gap-4  shadow-violet-500 shadow-2xl flex-col" action="/post/create" method="post"> 
    <h1 >Create Post</h1>
    <input class="bg-violet-300 p-2 rounded-md inset-9 outline-none shadow-inner shadow-violet-800" type="text" name="content" placeholder="Content" autocomplete="url">
    <input class="bg-violet-300 p-2 rounded-md inset-9 outline-none shadow-inner shadow-violet-800" type="text" name="caption" placeholder="Caption" >
    <button class="bg-violet-600 text-white py-2 rounded-md  hover:shadow-xl">Create</button>
  </form>
     
</body>
</html>