<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body class="flex min-h-screen min-w-screen z-0 text-white justify-center items-center bg-purple-300">  
    <form class="flex border-2 opacity-100 bg-violet-400 rounded-2xl p-6 gap-4  shadow-violet-500 shadow-2xl flex-col" action="/auth/register" method="post">
            <p class="text-2xl">Register</p>
        <input required class="bg-violet-300 p-2 rounded-md inset-9 outline-none shadow-inner shadow-violet-800" type="text" placeholder="John Doe" name="username" >
        <input required class="bg-violet-300 p-2 rounded-md inset-9 outline-none shadow-inner shadow-violet-800" type="text" placeholder="Exapmle@gmail.com" name="email">
        <input required class="bg-violet-300 p-2 rounded-md inset-9 outline-none shadow-inner shadow-violet-800" type="url" placeholder="Profile Image Url" name="profilepic">
        <input required class="bg-violet-300 p-2 rounded-md inset-9 outline-none shadow-inner shadow-violet-800" type="text" placeholder="********" name="password">
        <button class="bg-violet-600 text-white py-2 rounded-md  hover:shadow-xl  active:shadow-inner active:shadow-violet-800">Register</button>
        <p>Already have an account? <span class=""><a href="/auth/login">Login</a></span></p>
   </form>
</body>
</html> 