*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: #0000009f;
    color: white;
}
.inputbox{
    display: flex;
    gap: .5rem;
}

.input{
    width: 800px;
    height: 25px;
    padding: 5px 10px;
}

ul{
    width: 750px;
    
}
.submit{
  padding: 5px 10px;
  background-color: rgb(23, 67, 95);  
  color:  white;  
}
